.wpll-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: -1px 2px 31px #ddd;
}

.wpll-intro-text {
    padding: 15px;
    background-color: #fff;
}

.wpll-logo img {
    margin-top: 10px;
}

.wpll-tab {
    margin-top: 15px !important;
}

.wpll-tab .nav-tab {
    border: 0;
    margin-right: 10px;
    margin-left: 0;
    padding: 10px 20px;
    border-bottom: 0;
    border-top: 3px solid #ddd;
    background: #fff;
}

.wpll-tab .nav-tab:hover {
    background-color: #3495ff;
    color: #fff;
    border-top: 3px solid #0f4c8e;
}

.wpll-tab a.nav-tab.nav-tab-active {
    background-color: #3495ff;
    color: #fff;
    border: 0;
    border-top: 3px solid #0f4c8e;
}

.wpll-tab.nav-tab-wrapper,
.wrap h2.nav-tab-wrapper,
h1.nav-tab-wrapper {
    border-bottom: 0;
}

.wpll-table {
    border-collapse: initial;
    max-width: 992px;
}

.wpll-table h4 {
    margin: 0;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}

.wpll-table i {
    font-weight: bold;
    border-bottom: 1px dashed #ddd;
}

.wpll-container .form-table td {
    padding: 20px;
}

.wpll-container .form-table th {
    padding-left: 15px;
}

@media screen and (max-width: 782px) {
    .wpll-container .form-table td {
        padding-left: 10px;
    }
}

.wp-admin p input[type="checkbox"],
.wp-admin p input[type="radio"],
td>input[type="checkbox"] {
    margin-bottom: 5px;
}

.wpll-container input#save_changes {
    background-color: #0095ff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: 0px 15px;
    border-radius: 0;
    height: 35px;
    transition: all .8s;
}

.wpll-container input#save_changes:hover {
    background-color: #0f4c8e;
}

.wpll-container .any_roles,
.multiple_roles {
    display: none;
}

#wpll_settings .description {
    margin-bottom: 20px;
}

.wpll-container #ajax_settings_result .updated,
#ajax_settings_result .error,
.wpll-warning {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 0;
}

.wpll-container #ajax_settings_result .updated {
    background-color: #f2ffeb;
}

.wpll-container #ajax_settings_result .error {
    background-color: #ffecec;
}

.wpll-warning {
    background-color: #fff9ec;
}

.wpll-container .general_table_heading,
.role_list,
.redirect_to {
    display: none;
}

.wpll-table select,
input[type="text"] {
    max-width: 15rem;
}